<div class="form-group col-sm-{{span||12}}" ng-class="{ 'has-error' : $invalid && !$pristine}">
    <i class="fa fa-asterisk required" ng-show="required"></i>&nbsp;<label for="{{id || model}}" class="control-label" ng-bind="label"></label>
    <div class="input-group">
        <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
        </div>
        <input id="{{id || model}}" ng-model="model" placeholder="dd/mm/yyyy" type="text" class="form-control input-sm" input-mask="'d/m/y'">
    </div><!-- /.input group -->
    <div class="help" style="margin-left: 45px" ng-show="footerText" ng-bind="footerText"></div>
</div><!-- /.form group -->
<!--dd/mm/yyyy-->

